SECRET_KEY=dev-secret-key
INFORMIX_SERVER=informix_dr
INFORMIX_USER=informix
INFORMIX_PASSWORD=migracion
INFORMIX_DATABASE=clinical
INFORMIX_HOST=informix
INFORMIX_PORT=9089
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
APP_VALIDATION_MODE=0
